body {
    height: 100%;
    background-color: #161b2c;
    margin-left: 20px;
    color: white;
    padding-top: 32px;
    font-family: Arial;;
}

button {
    background-color: #C2185B;
    color: white;
    border: unset;
    padding: 12px;
    border-radius: 4px;
    min-width: 160px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: #1a2336;
}

td {
    padding: 3px;
}

th {
    padding: 3px;
    background-color:#C2185B;
    position: sticky;
    top: 0;
}

tr:hover {
    background-color:#d63475;
}

li {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 3px;
}

li:hover {
    background-color: #d63475;
}



.mainGrid {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.innerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.searchScenarioBundle {
	display:flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
    padding-right: 15px;
}

.leaderboardInfo {
	display:grid;
    grid-template-columns: 2fr 1fr;
	align-self: center;
}