.scenarioList {
    width: auto;
    height: 31.5rem;
    overflow:hidden;
    overflow-y:scroll;
    scrollbar-width: none;
}

.scoreList {
    width: auto;
    height: 31.5rem;
    overflow:hidden;
    overflow-y:scroll;
    scrollbar-width: none;
}