input {
    margin-bottom: 0.5rem;
    padding: 0.7rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    height: 16px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
}

.scenarioSearchBar {
    width: auto;
}