.sidebar {
    background-color: #1a2336;
}

.sidebar-row {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    text-decoration: none;
    transition: #1a2336;
    color: white;
    font-weight: bold;
}

.sidebar-row.active {
    background-color: #C2185B;
}

.sidebar-row:hover {
    background-color: #d63475;
}

.icon {
    width: auto;
    height: 100%; /* Height of the row */
    max-height: 1.5rem; /* Adjust based on your row height */
    object-fit: contain;
}