.row {
    display: flex;
    padding-left: 15px;
}

.sideBarDiv {
    background-color: #1a2336;
    justify-content: end;
    width: max-content;
    right: 0;
    height: auto;
    max-height: max-content;
    object-fit: cover;
}