.bundle {
    display: flex;
    justify-content: flex-end;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    justify-content: end;
    margin-left: 1rem;
    width: 45px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0.85rem;
    margin-bottom: -0.85rem;
    background-color: #1a2336;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(255, 255, 255, 0.788);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #C2185B;
}


input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

