---
//-------------- JUST FOR TESTING PURPOSES --------------//

import SearchScenarioInput from '../components/react/SearchScenarioInput';
import Layout from '../layouts/BaseLayout.astro';
import ScenarioList from "../components/react/ScenarioList";
import SideBar from '../components/sideBarComponents/SideBar.astro';
import ScoreList from '../components/react/ScoreList';
import ScoreListName from '../components/react/ScoreListName';
import ToggleLeaderboard from '../components/react/ToggleLeaderboard';
import LogoutButton from '../components/react/LogoutButton';
import LoginWithSteam from '../components/react/LoginWithSteam';
import ShowSteam from '../components/react/CheckLogin';
import SteamProfile from '../components/react/SteamProfile';
import InputSteamId from '../components/dev/InputSteamId';
import DevLogin from '../components/dev/Login';


---

<Layout>
	<div class="innerGrid">
		<InputSteamId client:load/>
		<DevLogin client:load/>
		<ShowSteam client:load/>
		<LogoutButton client:load/>
		<div class="searchScenarioBundle">
			<SearchScenarioInput client:load/>
			<ScenarioList client:load/>
		</div>
		<div>
			<div class="leaderboardInfo">
				<ScoreListName client:load/>
				<ToggleLeaderboard client:load/>
			</div>
			<ScoreList client:load/>
		</div>
	</div>
	<SteamProfile client:load/>
	<SideBar/>
</Layout>
