---
import Layout from '../layouts/BaseLayout.astro';
import SearchScenarioInput from '../components/react/SearchScenarioInput';
import ScenarioList from "../components/react/ScenarioList";
import SideBar from '../components/sideBarComponents/SideBar.astro';
import ScoreList from '../components/react/ScoreList';
import ScoreListName from '../components/react/ScoreListName';
import ToggleLeaderboard from '../components/react/ToggleLeaderboard';

---

<Layout>
	<div class="innerGrid">
		<div class="searchScenarioBundle">
			<SearchScenarioInput client:load/>
			<ScenarioList client:load/>
		</div>
		<div>
			<div class="leaderboardInfo">
				<ScoreListName client:load/>
				<ToggleLeaderboard client:load/>
			</div>
			<ScoreList client:load/>
		</div>
	</div>
	<SideBar/>
</Layout>
