---
import ProfileManager from '../components/react/ProfileManager';
import TestButton from '../components/react/CheckLogin';
import AstroButton from '../components/AstroButton.astro';
import LoginWithSteam from '../components/react/LoginWithSteam';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>Profile Test</title>
</head>
<body>
    <LoginWithSteam client:load />
    <AstroButton />
    <ProfileManager client:load />
</body>
</html>
