---
import ProfileManager from '../components/react/ProfileManager';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <title>Profile Test</title>
</head>
<body>
    <ProfileManager client:load />
</body>
</html>
