---
import "../../styles/sideBar.css"
import "./Row.astro"
import Row from "./Row.astro"
---

<div class="sideBarDiv">
    <Row rowDisplay="Player Search"/>
    <Row rowDisplay="Scenarios"/>
    <Row rowDisplay="Playlists"/>
    <Row rowDisplay="Benchmark Tracker"/>
    <Row rowDisplay="Trending"/>
</div>